framework: >= net45
source https://api.nuget.org/v3/index.json

//source https://ci.appveyor.com/nuget/controlzex
//source https://ci.appveyor.com/nuget/mahapps.metro
//source https://ci.appveyor.com/nuget/mahapps-metro-iconpacks

// copy_local: true => PrivateAssets=All, mean all these type of assets are private of the project (so no need to add the deps in the nupkg dep list)

nuget JetBrains.Annotations copy_local: true

nuget MahApps.Metro.IconPacks ~> 4
nuget MahApps.Metro ~> 2
nuget gong-wpf-dragdrop ~> 2
nuget Extended.Wpf.Toolkit

group cake
	framework: >= net45
	source https://api.nuget.org/v3/index.json
	
	nuget Cake
	nuget Cake.Git
	nuget Cake.Figlet
	nuget Cake.Paket
	nuget Cake.Paket.Module
	nuget vswhere
